@model Person

<form method="post" asp-actopn="Create">
    <div class="form-group">
        <label asp-for="Name">Имя</label>
        <input asp-for="Name" class="form-control" placeholder="Введите имя">
    </div>
    <div class="form-group">
        <label asp-for="Surname">Фамилия</label>
        <input asp-for="Surname" class="form-control" placeholder="Введите фамилию">
    </div>
    <div class="form-group">
        <label asp-for="Email">Электронная почта</label>
        <input asp-for="Email" class="form-control" placeholder="Введите электронную почту">
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Номер телефона</label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="Введите номер телефона">
    </div>
    <button type="submit" class="btn btn-primary my-sm-2">Ок</button>
</form>